@media (max-width:780px) {

    @keyframes writing-fullstack {
        0% {
            content: " ";
        }

        6.5% {
            content: "FullStack";
        }

        13% {
            content: "FullStac";
        }

        19.5% {
            content: "FullSta";
        }

        26% {
            content: "FullSt";
        }

        32.5% {
            content: "FullS";
        }

        39% {
            content: "Full";
        }

        45.5% {
            content: "Ful";

        }

        52% {
            content: "Fu";
        }

        59% {
            content: "F";
        }

        63.5% {
            content: " ";
        }

        68% {
            content: "3"
        }

        72.5% {
            content: "3D"
        }

        77% {
            content: "3D a";
        }

        81.5% {
            content: "3D ar";
        }

        86% {
            content: "3D art";
        }

        90.5% {
            content: "3D arti"
        }

        95% {
            content: "3D artis";
        }

        100% {
            content: "3D artist";
        }

    }


    @keyframes cursor {
        0% {
            opacity: 0;
        }

    }

    .fullstack::before {
        content: "";
        animation: writing-fullstack 7s infinite;

    }

    .fullstack::after {
        content: "";
        position: relative;
        height: 10px;
        margin-left: 15px;
        border-right: 2px solid white;
        animation: cursor .8s infinite;
        width: calc(100% + 15px);

    }

    .card {
        transition: 0.15s;
        cursor: pointer;
    }
    .card-group:hover > :not(:hover) {
        opacity: .4;
        transform: scale(.9);
    }
    
}