@media (max-width: 810px) {

    @keyframes writing-fullstack {
        0% {
            content: " ";
        }

        6.5% {
            content: "FullStack";
        }

        13% {
            content: "FullStac";
        }

        19.5% {
            content: "FullSta";
        }

        26% {
            content: "FullSt";
        }

        32.5% {
            content: "FullS";
        }

        39% {
            content: "Full";
        }

        45.5% {
            content: "Ful";

        }

        52% {
            content: "Fu";
        }

        59% {
            content: "F";
        }

        63.5% {
            content: " ";
        }

        68% {
            content: "3"
        }

        72.5% {
            content: "3D"
        }

        77% {
            content: "3D a";
        }

        81.5% {
            content: "3D ar";
        }

        86% {
            content: "3D art";
        }

        90.5% {
            content: "3D arti"
        }

        95% {
            content: "3D artis";
        }

        100% {
            content: "3D artist";
        }

    }


    @keyframes cursor {
        0% {
            opacity: 0;
        }

    }

    .fullstack::before {
        content: "";
        animation: writing-fullstack 7s infinite;

    }

    .fullstack::after {
        content: "";
        position: relative;
        height: 10px;
        margin-left: 15px;
        border-right: 2px solid white;
        animation: cursor .8s infinite;
        width: calc(100% + 15px);

    }

    .card {
        transition: 0.15s;
        cursor: pointer;
    }

    .card-group:hover> :not(:hover) {
        opacity: .4;
        transform: scale(.9);
    }

    .long-card:hover {
        box-shadow: 0px 0px 20px #FFAB5B;
    }

    .container-about:hover> :not(:hover) {
        animation-name: highlight;
        animation-duration: 0.35s;
        animation-iteration-count: 1;
        animation-direction: normal;
        animation-fill-mode: forwards;
    }

    @keyframes highlight {
        0% {
            opacity: 1;
            transform: scale(1);
        }

        100% {
            opacity: .8;
            transform: scale(.9);
        }
    }

    .contact-container a:active {
        animation-name: shake;
        animation-duration: .5s;
        animation-iteration-count: 1;
        animation-direction: normal;
        animation-fill-mode: forwards;
    }


}