body {
    background-repeat: no-repeat;
    overflow-x: hidden;

}

.wrapper {
    overflow-x: hidden;

}

#wallpaper {
    z-index: 1;
}

#main {
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 1;

}

.header img {
    height: 3rem;
    width: 2.5rem;
}

header {
    margin-left: 10vw;
    width: 80vw;
    z-index: 2;
}

#linkedin {
    margin-left: 10px;
    margin-right: 10px;
}

.info a {
    text-decoration: none;
}

.info h4 {
    font-family: "Gelasio", serif;
    font-weight: 700;
    color: white;

}

.about {
    margin-right: 20px;
}

.logo {
    display: flex;
    justify-content: start;
    position: fixed;
    top: 86%;
    left: 2vw;
    z-index: 3;
}

.logo-img {
    height: 5rem;
}

.hero {
    margin: 15vh 0 0 10vw;
    width: 70vw;
}

.hero-container h1 {
    font-family: "Gelasio", serif;
    font-weight: 800;
    color: white;
    cursor: default;
    font-size: 6vw;
    width: 70%;

}

.hero-images {
    position: absolute;
    margin-left: 10vw;
    top: 100vh;

}

#dino {
    position: absolute;
    margin-left: 62vw;
    bottom: 40vh;
    border-radius: 20px;

}

#agency {
    position: absolute;
    margin-left: 47vw;
    bottom: 25vh;
    border-radius: 20px;
}

#me {
    font-family: "Gelasio", serif;
    font-weight: 800;
    color: white;
    cursor: default;
}

#subtitle {
    font-family: "Gelasio", serif;
    font-weight: 900;
    color: white;
    cursor: default;
}

.section-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: 60px;
    left: 9rem;
    grid-column-start: 1;
    grid-row-start: 2;
    margin: 0;
    width: 30vw;
    background-color: #1B262C;
    z-index: 0;
}

.section-title h1 {
    font-size: 6rem;
    font-family: 'Gelasio', serif;
    font-weight: 900;
    color: white;
    z-index: 1;
    padding: 0;
}

.section-title h4 {
    color: white;
    font-family: 'Gelasio';
    font-weight: 900;
    padding-bottom: 20px;
    border-bottom: 2px solid white;
    width: 150%;
    text-align: center;
}

#projects {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #1B262C;
    z-index: 1;
}


.projects-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    width: 95%;
    margin-top: 100px;
    padding-bottom: 100px ;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}

#first-project,
#third-project {
    display: flex;
    justify-content: start;
    align-items: center;
    padding-top: 15vh;
    padding-left: 2vw;
    width: 100%;
    z-index: 1;
}

#third-project {
    grid-column-start: 1;
    grid-row-start: 3;
}

#second-project {
    position: relative;
    left: 15vw;
    top: 40px;
    grid-column-start: 2;
    grid-row-start: 2;
    flex-direction: row-reverse;
    padding-top: 15vh;

}

#first-project img,
#second-project img,
#third-project img {
    height: 17rem;
    border: 3px solid white;
    border-radius: 40px;
    transition: transform 0.8s;
}


#first-project h1,
#third-project h1 {
    position: relative;
    right: 90px;
    color: white;
    font-family: 'Gelasio', serif;
    font-weight: 900;
    font-size: 4rem;
    width: 100%;
    z-index: 2;
}

#third-project {
    margin-bottom: 50px;
}


#about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #1B262C;
    width: 100%;
    padding-bottom: 200px;
}

#about div {
    color: white;
}

.container-about {
    background-color: #1B262C;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.about-me {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: static;
    width: 100%;
    z-index: 0;
}

.about-me h1,
.about-me img {
    font-size: 4.5rem;
    font-family: 'Gelasio, serif';
    font-weight: 900;
    height: 7rem;
    position: relative;
}

.about-me h1 {
    top: 18vh;
}

.about-me img {
    float: left;
}

.about-me div{
    font-family: 'Gelasio', serif;
    font-weight: 900;
    color: white;
    position: relative;
    gap: 50px;
    top: 20vh;
    right: 50px;
}

.container-slider {
    display: flex;
    flex-direction: row-reverse;
    justify-content: end;
    align-items: center;
    height: 12rem;
    box-shadow: 0px 0px 40px black;
    z-index: 1;
}


.photos {
    display: flex;
    align-items: center;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 12rem;
    width: 12rem;
}

.long-card {
    display: flex;
    align-items: center;
    background-color: #1B262C;
    width: 100%;
    margin-top: 20px;
    padding-top: 10px;
    box-shadow: 0px 0px 40px black;
    z-index: 1;
}


.slider,
.slider1,
.slider2 {
    opacity: 0;
    transition: opacity .2s;
    position: absolute;
    width: 100%;
    height: 100%;
}

.on {
    opacity: 1;
}

#prev-button,
#next-button {
    height: 25px;
    width: 30px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

#next-button img,
#prev-button img {
    height: 100%;
    width: 100%;
}

#next-button {
    display: none;
}

#prev-button {
    margin: 75px 20px 5px 5px;
}

.content {
    display: flex;
    justify-content: center;
    width: 100%;
    color: white;
}

.content h1 {
    font-family: 'Gelasio', serif;
    font-weight: 900;
    color: white;
    font-size: 2.2rem;
}

.skills {
    flex-direction: row-reverse;
}

.long-card-title {
    float: left;
    rotate: 270deg;
    border-bottom: 2px solid grey;
    background-color: #3b4144;
}


.long-card-text {
    word-break: break-all;
    width: 80%;
}



.skills #next-button {
    margin: 90px 5px 5px 20px;
    display: block;
}

.skills #prev-button {
    display: none;
}

.hobbies h1 {
    font-family: 'Gelasio', serif;
    font-weight: 900;
    color: white;
}


#contact {
    background-color: rgb(21, 21, 21);
}

.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Gelasio', serif;
    font-weight: 900;
    color: white;
    height: 350px;
}

.contact-container img {
    margin-top: 10px;
    border-radius: 20px;
}


.footer {
    display: flex;
    justify-content: end;
    width: 100%;
    text-align: center;
    color: white;
    background-color: rgb(21, 21, 21);
}

footer {
    width: 25%;
}

@media (max-width: 810px) {
    
    .long-card-title {
        float: none;
        rotate: 360deg;
        border: 0;
    }
    
    .projects-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        background-color: #1B262C;
        border: 0;
    }

    .section-title {
        text-align: center;
        width: 100%;
        position: static;
        width: 60%;
    }


    .about-me img,
    .about-me h4,
    .about-me h5 {
        display: none;
    }

    .about-me h1 {
        top: 0;
    }

    .container-about {
        padding: 0;
    }

    .section-title h1 {
        font-size: 3.5rem;
        font-family: 'Gelasio', serif;
        font-weight: 900;
        color: white;

    }

    .long-card-text {
        padding: 0;
    }

    #line {
        left: 25%;
        right: 25%;
        top: 18vh;
        width: 50%;
    }



    #first-project,
    #second-project,
    #third-project {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-bottom: 0;

    }

    #first-project img,
    #second-project img,
    #third-project img {
        height: 13rem;
 
    }

    #first-project h1,
    #third-project h1,
    #second-project h1 {
        font-size: 3rem;
        right: 0;
        top: 15px;
    }

    #second-project {
        left: 0;
        top: 0; 
       }

       #third-project {
        margin-bottom: 200px;
       }

    .container-slider {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        gap: 10px;
        margin: 0;
        height: auto;
    }

    .photos {
        border: 5px solid white;
        border-radius: 20px;
    }

    .skills {
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
        text-align: center;
        gap: 10px;
        padding-top: 10px;
    }

    .text {
        padding: 0;

    }

    .skills #prev-button,
    .skills #next-button {
        margin: 70px 20px 5px 20px;
        display: block;
    }


    #next-button {
        margin: 70px 5px 5px 20px;
        display: block;
    }

    #prev-button {
        margin: 70px 20px 5px 5px;
    }

    .photos {
        height: 10rem;
        width: 10rem;
    }

    .content {
        padding: 0;
        margin: 0;
        text-align: center;
        flex-direction: column;
        align-items: center;
    }

    .hobbies {
        flex-direction: column-reverse;
        padding-top: 10px;
    }

    .pr-button {
        display: none;
    }

    .logo {
        display: none;
    }

    .logo-img {
        display: none;
    }

    .hero {
        width: 100%;
        margin-left: 0;
        margin-top: 20vh;
    }

    .hero-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .hero-container h1 {
        font-size: 2.5rem;
        padding-bottom: 30px;
    }

    .header {
        width: 100%;
        margin-left: 0;
    }
    .info {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    footer {
        width: 100%;
    }

}