@font-face {
    font-family: zh-cn;
    src: url("/Genshin-Impact-Font/zh-cn.ttf");
}

body {
    background-image: url(../images/wallpaper.png);
    height: 500vh;
}

.center-bar {
    width: 100%;
    height: 12%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 30, 092, 0.6);   
}

.center-bar a {
    position: relative;
    left: 59%;
    top: 35%;
    padding: 25px;
}

#me {
    position: absolute;
    bottom: 87.5%;
    left: 3%;
    font-size: 3rem;
    color: antiquewhite;
    z-index: 1;
}

#subtitle {
    position: absolute;
    bottom: 86.5%;
    left: 17%;
    color: antiquewhite;
    font-size: 1.2rem;
    animation-name: visible;
    animation-duration: 3s;
    z-index: 1;
}

.container {
    position: absolute;
    left: 0;
    right: 0;
    top: 22%;
    width: 99%;
    height: 80%;
 
}

.container h1 {
    position: relative;
    text-align: center;
    font-family: zh-cn, serif;
    color: white;
    font-style: italic;
    font-weight: 900;
    font-size: 7rem;  
    margin: 0; 
}

.creativity{
    position: relative;
    font-size: 12rem;
}

.socials {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    bottom: 20px;
    left: 55.5px;
    z-index: 1;
    
}

.social-img {
    height: 35px;
    
}

.logo {
    position: fixed;
    top: 85%;
    bottom: 0;
    left: 25px;
    width: 100px;
    height: 100px;
    z-index: 2;
}

.button {
    font-family: 'zh-cn', serif;
    font-size: 1.3rem;
    font-weight: 900;
    color: white;
    opacity: 1;  
}

footer {
    position: relative;
    top: 100%;
    left: 80.5%;    
    width: 20%;
    text-align: center;
    color: white;
    background-color: black;
    opacity: 1;   
}


@media(max-width: 480px) {
    .desktop {
        display: none;
    }
    
    body{
        background: url('../images/Mondstadt.bmp' ) no-repeat;
    }

    #main {
        background-color: #A6CDC6;
        opacity: 0.2;
        padding-left: 40px;
        gap: 10px;
    }

    #main > div {
        color: black;
        font-weight: 900;
        font-size: 1.2rem;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, serif;
    }
    .social img{
        height: 25px;
    }
    .logo img {
        width: 50px;
        height: 50px;
        position: absolute;
        left: 15px;
        bottom: 0;
    }
    
}