body {
    background-repeat: no-repeat;
    overflow-x: hidden;

}

.wrapper {
    overflow-x: hidden;

}

#wallpaper {
    z-index: 1;
}

#main {
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 1;

}

.header img {
    height: 3rem;
    width: 2.5rem;
}

header {
    margin-left: 10vw;
    width: 80vw;
    z-index: 2;
}

#linkedin {
    margin-left: 10px;
    margin-right: 10px;
}

.info a {
    text-decoration: none;
}

.info h4 {
    font-family: "Gelasio", serif;
    font-weight: 700;
    color: white;

}

.about {
    margin-right: 20px;
}

.logo {
    display: flex;
    justify-content: start;
    position: fixed;
    top: 86%;
    left: 2vw;
    z-index: 3;
}

.logo-img {
    height: 5rem;
}

.hero {
    margin: 15vh 0 0 10vw;
    width: 70vw;
}

.hero-container h1 {
    font-family: "Gelasio", serif;
    font-weight: 800;
    color: white;
    cursor: default;
    font-size: 6vw;
    width: 70%;

}

.hero-images {
    position: absolute;
    margin-left: 10vw;
    top: 100vh;

}

#dino {
    position: absolute;
    margin-left: 62vw;
    bottom: 40vh;
    border-radius: 20px;

}

#agency {
    position: absolute;
    margin-left: 47vw;
    bottom: 25vh;
    border-radius: 20px;
}

#me {
    font-family: "Gelasio", serif;
    font-weight: 800;
    color: white;
    cursor: default;
}

#subtitle {
    font-family: "Gelasio", serif;
    font-weight: 900;
    color: white;
    cursor: default;
    font-size: 2rem;
}

.section-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    grid-column-start: 1;
    grid-row-start: 2;
    width: 30vw;
    background-color: #1B262C;
    position: relative;
    top: 60px;
    left: 10.5rem;
}

.section-title h1 {
    font-size: 6rem;
    font-family: 'Gelasio', serif;
    font-weight: 900;
    color: white;
    z-index: 1;
    padding: 0;
}

.section-title h4 {
    color: white;
    font-family: 'Gelasio';
    font-weight: 900;
    padding-bottom: 20px;
    border-bottom: 2px solid white;
    width: 150%;
    text-align: center;
}

#projects {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #1B262C;
    z-index: 1;
}


.projects-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    width: 100%;
    padding-bottom: 100px;

}

#first-project,
#third-project {
    display: flex;
    align-items: center;
    padding-top: 15vh;
    padding-left: 10vw;
    width: 100%;
    z-index: 1;
}

#third-project {
    grid-column-start: 1;
    grid-row-start: 3;
    padding-top: 200px;
}

#second-project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    top: 135px;
    grid-column-start: 2;
    grid-row-start: 2;

}

#second-project h1 {
    color: white;
    font-family: 'Gelasio', serif;
    font-weight: 900;
    font-size: 4rem;
    width: 80%;
    text-align: center;
}

#first-project img,
#second-project img,
#third-project img {
    height: 17rem;
    border: 3px solid white;
    border-radius: 40px;
    transition: transform 0.8s;
}


#first-project h1,
#third-project h1 {
    position: relative;
    right: 90px;
    color: white;
    font-family: 'Gelasio', serif;
    font-weight: 900;
    font-size: 4rem;
    width: 100%;
    z-index: 2;
}

#third-project {
    margin-bottom: 50px;
}


#about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #1B262C;
    width: 100%;
    padding-bottom: 200px;
}

#about div {
    color: white;
}

.container-about {
    background-color: #1B262C;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.about-me {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: static;
    width: 100%;
    z-index: 0;
}

.about-me h1,
.about-me img {
    font-size: 4.5rem;
    font-family: 'Gelasio, serif';
    font-weight: 900;
    height: 7rem;
    position: relative;
}

.about-me h1 {
    top: 18vh;
}

.about-me img {
    float: left;
}

.about-me div {
    font-family: 'Gelasio', serif;
    font-weight: 900;
    color: white;
    position: relative;
    gap: 50px;
    top: 33vh;
    right: 30vw;
}

.container-slider {
    display: flex;
    flex-direction: row-reverse;
    height: auto;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 40px black;
}


.photos {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 15.2rem;
    width: 14rem;
    border-radius: 10px;
    border: 5px solid #0e1518;
}

.p-skill {
    height: 19rem;
    width: 18rem;
    border-left: 5px solid rgb(26, 24, 24);
}


.long-card {
    display: flex;
    align-items: center;
    background-color: #1B262C;
    width: 100%;
    margin-top: 20px;
    box-shadow: 0px 0px 40px rgb(19, 19, 19);
    z-index: 1;
}


.slider,
.slider2,
.slider3 {
    opacity: 0;
    transition: opacity .2s;
    position: absolute;
    width: 100%;
    height: 100%;
}

.on {
    opacity: 1;
}

.func-btn-prev,
.func-btn-next {
    height: 25px;
    width: 30px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.func-btn-next img,
.func-btn-prev img {
    height: 100%;
    width: 100%;
}

.func-btn-next {
    display: none;
}

.func-btn-prev {
    margin-top: 110px;
}

.content {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: start;
    word-break: normal;
    text-align: center;
    width: 80%;
    color: white;
}

.content-title h1 {
    font-family: 'Gelasio', serif;
    font-weight: 900;
    color: white;
    font-size: 2.2rem;
    margin-top: 15px;
}

.content span {
    font-size: 1.2rem;
}

.content p {
    width: 70%;
    font-weight: 500;
    word-break: normal;
}

.middle-card {
    flex-direction: row;
}

.skills-list {
    display: flex;
    gap: 100px;
    margin-right: 20px;
}

.skill-button {
    height: 50px;
    width: 5.5rem;
    margin: 10px 10px 5px 0;
    border-radius: 50px;
}

.list-1 {
    list-style-type: none;
}

#prev-button {
    margin: 110px 20px 0 0;
}

#prev-button2 {
    display: none;
}

#next-button2 {
    display: block;
    margin: 140px 0 0 20px;
}

#prev-button3 {
    z-index: 4;
    display: block;
    margin: 135px 20px 0 0;
}


#contact {
    background-color: rgb(21, 21, 21);
}

.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Gelasio', serif;
    font-weight: 900;
    color: white;
    height: 350px;
}

.contact-container img {
    margin-top: 10px;
    border-radius: 20px;
}



.footer {
    display: flex;
    justify-content: end;
    width: 100%;
    text-align: center;
    color: white;
    background-color: rgb(21, 21, 21);
}

footer {
    width: 25%;
}


@media (max-width: 1020px) {


    #subtitle {
        font-size: 1.5rem;
    }

    .content p {
        width: auto;
        word-break: normal;
    }



    .long-card {
        padding: 10px 0 0 0;
    }

    .projects-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding-top: 100px;
        background-color: #1B262C;
        border: 0;
    }

    .section-title {
        text-align: center;
        width: 100%;
        position: static;
        width: 60%;
    }


    .about-me img,
    .about-me h4,
    .about-me h5 {
        display: none;
    }

    .about-me h1 {
        top: 0;
    }

    .container-about {
        padding: 0;
    }

    .section-title h1 {
        font-size: 3.5rem;
        font-family: 'Gelasio', serif;
        font-weight: 900;
        color: white;

    }


    #first-project,
    #second-project,
    #third-project {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 0;
        padding: 10rem 0 0 0;
        position: static;

    }

    #first-project img,
    #second-project img,
    #third-project img {
        height: 13rem;
        margin-bottom: 2.5rem;
    }

    #first-project h1,
    #third-project h1,
    #second-project h1 {
        font-size: 3rem;
        right: 0;
        top: 15px;
        width: 100%;
    }

    #second-project {
        left: 0;
        top: 0;
    }

    #third-project {
        margin-bottom: 200px;
    }

    .container-slider {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        margin: 3rem 0 0 0;
        height: auto;
        width: 90vw;
        padding: 40px;
        background-image: url("../images/banner.jpg");
        background-size: cover;
    }


    .skills-list {
        flex-direction: column;
        align-items: center;
        gap: 10px;
        margin-right: 20px;
        list-style-type: none;
    }

    .list-1 {
        display: flex;
        gap: 10px;
        list-style-type: none;
    }



    .long-card-first {
        margin: 0;
    }

    .photos {
        border: 5px solid white;
        border-radius: 20px;
        width: 80%;
    }


    .skill-button {
        width: 4.5rem;
    }


    #next-button,
    #next-button2,
    #next-button3 {
        margin: 70px 0 0px 20px;
        display: block;
    }

    #prev-button,
    #prev-button2,
    #prev-button3 {
        margin: 70px 20px 0 0;
        display: block;

    }

    .photos {
        height: 12rem;
        width: 12rem;
    }


    .pr-button {
        display: none;
    }

    .logo {
        display: none;
    }

    .logo-img {
        display: none;
    }

    .hero {
        width: 100%;
        align-items: center;
        margin-left: 0;
        margin-top: 12vh;
    }

    .hero-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .hero-container h1 {
        font-size: 2.5rem;
        padding-bottom: 30px;
    }

    .header {
        width: 100%;
        margin-left: 0;
    }

    .info {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    footer {
        width: 100%;
    }

}